<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <!-- Favicon -->
  <link href="img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link type="text/css" href="css/argon.min.css?v=1.0.0" rel="stylesheet">
    <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" /> -->
    <!-- <link rel="shortcut icon" href="../public/img/brand/approval.png"> -->
    <title>Approval-System</title>
    <!-- <link rel="shortcut icon" href="" type="image/x-icon"> -->
    <link rel="shortcut icon" href="https://www.epromis.com/uploads/SolutionImage/EAS.png">
    <!-- <link rel="shortcut icon" href="../views/approval.png" type="image/png"> -->
    <!-- <link rel="shortcut icon" href="https://amex.golflan.com/static/img/favicons/amex-logo.png"> -->
  </head>
  <body>
    
    <%- body %>
    
  </body>
</html>
